* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 40px;
    font-size: 20pt;
}

nav ul li:hover {
    color: yellow;
}